 .header{
background-color: yellow;

 }
 .left{
   background-color: red;
   height: 100%;
   width: 30%;
   align-self: left;
 }
 
 .right{
   background-color: red;
   height: 100%;
   width: 45%;
   align-self: right;
 }
 
 body {
        
        font-family: 'Ubuntu', sans-serif;
       
        color: #115586;
    }
    
    .main {
       
        width: 400px;
        height: 425px;
        margin: 10px auto;
        border-radius:30px;
        box-shadow: 1px 1px 5px 2px#115586;
    }
    
    .sign {
      
        padding-top: 40px;
        color: #115586;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 26px;
    }
    
    .uname {
            width: 76%;
    color: #115586;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #115586;
    
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    
    }
    
    form.form1 {
        padding-top: 40px;
         }
    
    .pass {
            width: 76%;
    color:#115586;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #115586;
    
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    
    
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid #115586 !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 10px;
        color: white;
         background:#115586;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;

    }
    
    .forgot {
       
        color: #115586;
        padding-top: 20px;
    }
    
    a {
       
        color: #115586;
        
    }

    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
    }
