<div class="container"> 
  <div class="header">
    <div class="header1">
      <div class="hrms-container">
        <div class="hrms">
          <h1>HRMS</h1>
        </div>
      </div>
     
      <div class="user-container">
        <div class="help">
        <h4><a href="#">Help </a></h4>
        </div>
        
        <div class="image">
          <img src="assets/img/ab.jpg" class="image">
      
        </div>
     
      </div>
    </div>
    <div class="header2">

      <div class="wlcm-container">
        <div class="wlcm">
         <h5> <span> Welcome, Deepak Kumar Yadav (u25a58)</span><br>
            You Last Logged In: Date and Time</h5>
        
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------Header End----------------------------------->
  <!--  ------------------------------------Body start----------------------------------->
    <div class="body">
      <div class="left">  <!-- left box-->
        <div class="icon-frame">
          <div class="icon">
            <img src="assets/img/ab.jpg" class="icon">
          </div>
          
        </div>
      </div> 
      <div class="middle">    <!-- right box-->
        <div class="dashboard-container">
          <div class="dashboard">
            <h1>Dashboard</h1>
          </div>
        </div>
        <div class="dashboard-body-container">
          <div class="summary-container">
              <div class="summary">
              <h4>Balance Leave Summary</h4>
              </div>
          </div>
               <div class="summary-details">
                 <div class="img">
                 </div>
                  <div class="annual-leave">
                  
                  <h4>Annual Leave</h4>
                  </div>
                  <div class="value">
                    <h4> 85</h4>
                  </div>
               </div>

               <div class="summary-details">
                 <div class="img">
                 </div>
                  <div class="annual-leave">
                  
                  <h4>Casual Leave</h4>
                  </div>
                  <div class="value">
                    <h4> 12</h4>
                  </div>
               </div>

               <div class="summary-details">
                 <div class="img">
                 </div>
                  <div class="annual-leave">
                  
                  <h4>Total Absent( As on 26 March 2020)</h4>
                  </div>
                  <div class="value">
                    <h4> 0</h4>
                  </div>
               </div>


               <div class="summary-container">
                <div class="summary">
                <h4>Request Status</h4>
                </div>
              </div>

              <div class="summary-details">
                <div class="img">
                  
                </div>
                 <div class="annual-leave">
                 
                 <h4>Pending Leave Approvals</h4>
                 </div>
                 <div class="value">
                   <h4><a href="#">1</a></h4>
                 </div>
              </div>

              <div class="summary-details">
                <div class="img">
                </div>
                 <div class="annual-leave">
                 
                 <h4>Pending Access Request Approvals </h4>
                 </div>
                 <div class="value">
                   <h4><a href="#">0</a></h4>
                 </div>
              </div>

              <div class="summary-details">
                <div class="img">
                </div>
                 <div class="annual-leave">
                 
                 <h4>Requests for Leave Approval</h4>
                 </div>
                 <div class="value">
                   <h4><a href="#">0</a></h4>
                 </div>
              </div>

              <div class="summary-details">
                <div class="img">
                </div>
                 <div class="annual-leave">
                 
                 <h4>Request for Machine Approval</h4>
                 </div>
                 <div class="value">
                   <h4><a href="#">0</a></h4>
                 </div>
              </div>
               

          </div>
        </div>
      

      <div class="right">
         <div class="info-container">
           <p>
             Dear ladies and gentlemen,<br><br> In internal audits we discovered weak spot which we are consequently closing now.<br>
            One finding is related to the emergency procedure of answering three security questions for login.<br><br>
            From <b>April 1st 2019</b> on, only the following login methods will be available for <b>AVL desktops/notebooks running Windows:</b><br><br>
           </p>
            <ol>
              <li>
                  USB-Token/Smartcard -> Primary authentication.
              </li>
              <li>
                 <a href="#">Offentry</a> mobile application -> Alternative authentication.
            </li>
            </ol>
            <p>
              This applies to all user accounts with strong authentication regardless of your current location
              (within the AVL network, at home, on site with customer etc).<br>
            </p>
            <p class="red">
              Logging in by answering the Evidian Security Questions will not be an option as of April 1st 2019
            </p>
            <p>
              Further information can be found in the FAQs on this topic (<a href="https://desktop.avl.com/sta">https://desktop.avl.com/sta</a>).
              Should you have any Question, please contact the IT Helpdesk(+43-316-787-512). 
              <br><br>
              Best Regards,<br><br>
              Hannes Czamai / AVL IT Securoty Officer
            </p>
           
         </div>
      </div>
    
    </div>

</div>
